<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
  <div class="card p-5 shadow-lg rounded">
    <h2 class="mb-2 text-center">Login</h2>
    <p class="mb-4 text-center"><strong>Seja bem vindo!!</strong></p>
    <form>
      <div class="mb-3">
        <label for="username" class="form-label">Email*</label>
        <input type="text" class="form-control" id="username" placeholder="Digite seu email">
      </div>
      <div class="mb-4">
        <label for="password" class="form-label">Senha*</label>
        <input type="password" class="form-control" id="password" placeholder="Digite sua senha">
      </div>
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary btn-block justify-content-center">Entrar</button>
      </div>
    </form>
    <div class="text-center mt-3">
      <p>Ainda não possui cadastro? <a href="#">Cadastrar</a></p>
    </div>
  </div>
</div>
