<app-header></app-header>

<div class="container mt-4">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-6">
      <div class="card rounded-3 shadow-lg p-4">
        <div class="card-body">
          <h3 class="card-title text-center mb-5">Editar Dispositivo</h3>
          <div *ngIf="isLoading" class="overlay d-flex justify-content-center align-items-center">
            <div class="spinner-border text-primary" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
          <form [formGroup]="updateDeviceForm">
            <div class="mb-3">
              <label class="form-label" [class.text-danger]="updateDeviceForm.hasError('required', 'deviceName') && updateDeviceForm.controls['deviceName'].dirty">Nome do dispositivo*:</label>
              <input type="text" class="form-control" formControlName="deviceName"
              [class.is-invalid]="updateDeviceForm.hasError('required', 'deviceName') && updateDeviceForm.controls['deviceName'].dirty">
              <div
                *ngIf="updateDeviceForm.hasError('required', 'deviceName') && updateDeviceForm.controls['deviceName'].dirty"
                class="text-danger mb-1 mt-1"
              >
                Nome do dispositivo é obrigatório!!!
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label" [class.text-danger]="updateDeviceForm.hasError('required', 'model') && updateDeviceForm.controls['model'].dirty">Modelo*:</label>
              <input type="text" class="form-control" formControlName="model"
              [class.is-invalid]="updateDeviceForm.hasError('required', 'model') && updateDeviceForm.controls['model'].dirty">
              <div
                *ngIf="updateDeviceForm.hasError('required', 'model') && updateDeviceForm.controls['model'].dirty"
                class="text-danger mb-1 mt-1"
              >
                Modelo é obrigatório!!!
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label" [class.text-danger]="updateDeviceForm.hasError('required', 'deviceManufacturer') && updateDeviceForm.controls['deviceManufacturer'].dirty">Fabricante do dispositivo*:</label>
              <input type="text" class="form-control" formControlName="deviceManufacturer"
              [class.is-invalid]="updateDeviceForm.hasError('required', 'deviceManufacturer') && updateDeviceForm.controls['deviceManufacturer'].dirty">
              <div
                *ngIf="updateDeviceForm.hasError('required', 'deviceManufacturer') && updateDeviceForm.controls['deviceManufacturer'].dirty"
                class="text-danger mb-1 mt-1"
              >
                Fabricante do dispositivo é obrigatório!!!
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label" [class.text-danger]="updateDeviceForm.hasError('required', 'description') && updateDeviceForm.controls['description'].dirty">Descrição*:</label>
              <textarea class="form-control" formControlName="description" [class.is-invalid]="updateDeviceForm.hasError('required', 'description') && updateDeviceForm.controls['description'].dirty"></textarea>
              <div
                *ngIf="updateDeviceForm.hasError('required', 'description') && updateDeviceForm.controls['description'].dirty"
                class="text-danger mb-1 mt-1"
              >
                Descrição é obrigatório!!!
            </div>
            </div>
            <div class="text-center mt-5">
              <button type="button" class="btn btn-danger me-2" (click)="back()">Voltar</button>
              <button type="submit" class="btn btn-success position-relative" [disabled]="updateDeviceForm.invalid" (click)="save()">
                Atualizar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
